.vuesaxlineargrid-3-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.dashboard {
  position: relative;
  line-height: 30px;
}
.action {
  position: absolute;
  top: 169px;
  left: 0;
  width: 252px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-41xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-lavender-100);
  cursor: pointer;
}
.realply {
  position: absolute;
  top: 62px;
  left: calc(50% - 21px);
  font-size: var(--font-size-5xl);
  line-height: 30px;
}
.action1 {
  top: 219px;
  left: 0;
  width: 252px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-41xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  cursor: pointer;
}
.action1,
.action2,
.action3 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.action2 {
  top: 269px;
  left: 0;
  width: 252px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-41xl) var(--padding-9xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.action3 {
  top: 319px;
}
.action3,
.action4,
.action5 {
  left: 0;
  width: 252px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-41xl) var(--padding-9xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  cursor: pointer;
}
.action4 {
  position: absolute;
  top: 473px;
  overflow: hidden;
}
.action5 {
  top: 523px;
}
.action5,
.action6,
.group-icon {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.action6 {
  top: 924px;
  left: 0;
  width: 252px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-59xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.group-icon {
  height: 3.13%;
  width: 13.21%;
  top: 5.86%;
  right: 62.19%;
  bottom: 91.02%;
  left: 24.6%;
  max-width: 100%;
  max-height: 100%;
}
.frame-child1 {
  position: absolute;
  top: 174px;
  left: 0;
  background-color: var(--color-lavender-100);
  width: 5px;
  height: 30px;
}
.span {
  font-size: 23.25px;
}
.days,
.your-free-trial-is-about-to-en {
  margin: 0;
}
.days {
  font-size: var(--font-size-9xl);
}
.your-free-trial-container1 {
  line-break: anywhere;
  width: 100%;
}
.you-will-not-container,
.your-free-trial-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 152px;
}
.your-free-trial-container {
  font-weight: 800;
}
.you-will-not-container {
  font-size: var(--font-size-xs);
  line-height: 13.95px;
  font-family: var(--font-sulphur-point);
  color: var(--color-lavender-100);
}
.your-free-trial-is-about-to-en-parent {
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 192px;
  height: 281px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-61xl);
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.upgrade {
  position: relative;
  line-height: 16.74px;
}
.a,
.frame-container {
  display: flex;
  flex-direction: column;
}
.a {
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender-200);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 148px;
  height: 42px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-2xs) var(--padding-27xl);
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -60px;
  font-size: var(--font-size-sm);
}
.frame-container {
  position: absolute;
  top: 603px;
  left: 30px;
  width: 192px;
  height: 281px;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.action-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 252px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-sulphur-point);
}
